/* GlobalView */


html {
    height: 100%;
}

body {
    background-color: #363636;
    background-image: linear-gradient(#474747 2px, transparent 2px), linear-gradient(90deg, #474747 3px, transparent 3px), linear-gradient(#474747 1px, transparent 1px), linear-gradient(90deg, #474747 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.container {

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
}

.side {
    display: none;
    height: 100vh;
    width: 50%;
    background-color: #cc527a;
    position: absolute;
    top: 0px;
    right: 0px;
    /* animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: 1; */
}

/* @keyframes slide {
    0%{
        transform: scaleX(100%);
    }

    100%{
        transform: scaleX(25%);
    }
} */


.nav-bar {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 85%;
    margin: 20px;
    border-radius: 65px;
    background: #a8a7a86c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-cont {
    background-color: #36363634;
    border-radius: 20px 20px 20px 20px;
    border-style:solid;
    border-color: #474747;
    border-width: 1px;
    max-height: 100%;
    align-items: center;
}

.img-cont img {
    padding: 0 10px 0 10px;
    margin: -18px;
    height: 6rem;
    display: flex;
}

.menu {
    margin-top: -5px;
    padding: 0;
    display: none;
    flex-direction: column;
}

.s-menu {
    display: flex;
    background-color: #3636367e;
    border-radius: 10px;
    border-color: #a8a7a8;
    border-width: 1px;
    border-style: solid;
    margin: 10px auto;
    height: 25px;
    width: 110%;
    justify-content: center;
    align-items: center;

}

.s-menu:hover {
    box-shadow: #cc527a 0px 0px 8px;
}

.s-menu a {
    justify-content: center;
    color: #a8a7a8;
    text-align: center;
    text-decoration: none;
}

.icons {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconTainer {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #a8a7a838;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #363636;
}

.iconTainer:hover {
    box-shadow: #cc527a 0px 0px 8px;
    background-color: #363636;
}

.iconTainer img {
    margin: 5px;
    width: 70%;
    max-width: 70%;
    height: auto;
    mix-blend-mode:overlay;
}

.logo-div {
    margin: 0 auto;
    margin-top: 200px;
    height: 300px;
    width: 300px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}


.timeline {
    height: 1000px;
    width: max;
}

.button {
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    background: #a8a7a86c;
}


/* TabletView */
@media (max-width: 768px){

    html {
        height: 100%;
    }

    body {
        background-color: #363636;
        background-image: linear-gradient(#474747 2px, transparent 2px), linear-gradient(90deg, #474747 3px, transparent 3px), linear-gradient(#474747 1px, transparent 1px), linear-gradient(90deg, #474747 1px, transparent 1px);
        background-size: 50px 50px, 50px 50px, 5px 5px, 5px 5px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    }
    
    .nav-bar {
        background-color: #a8a7a86c;
        height: 40px;
        width: 70%;
        margin: 20px;
        border-radius: 2rem;
    }

    .icons {
        width: 35%;
     }
}


/* MobileView */

@media (max-width: 576px){

    html {
        height: 100%;
    }

    body {
        background-color: #363636;
        background-image: linear-gradient(#474747 2px, transparent 2px), linear-gradient(90deg, #474747 3px, transparent 3px), linear-gradient(#474747 1px, transparent 1px), linear-gradient(90deg, #474747 1px, transparent 1px);
        background-size: 50px 50px, 50px 50px, 5px 5px, 5px 5px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    }
    
    .nav-bar {
        background-color: #a8a7a86c;
        height: 40px;
        width: 70%;
        margin: 20px;
        border-radius: 2rem;
    }

     .icons {
        width: 45%;
     }
}